[submodule "Universal_Robots_ROS2_Driver"]
	path = Universal_Robots_ROS2_Driver
	url = git@github.com:HuanyuL/Universal_Robots_ROS2_Driver.git
	branch = main
[submodule "mecheye_ros2_interface"]
	path = mecheye_ros2_interface
	url = git@github.com:HuanyuL/mecheye_ros2_interface.git
	branch = main
[submodule "easy_handeye2"]
	path = easy_handeye2
	url = https://github.com/marcoesposito1988/easy_handeye2
[submodule "src/Universal_Robots_ROS2_Driver"]
	path = src/Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = humble
