<?xml version="1.0"?>

<robot name="end_effector" xmlns:xacro="http://www.ros.org/wiki/xacro">


<link name="end_effector_base_link">

    <visual>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
        <geometry>
            <mesh filename="package://end_effector/mesh/end_effector.stl" scale="0.001 0.001 0.001"/>
        </geometry>
    </visual>

    <collision>
        <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
        <geometry>
            <mesh filename="package://end_effector/mesh/end_effector.stl" scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>

</link>

<link name="tcp"/>

<joint name="effector_tcp_joint" type="fixed">
    <parent link="end_effector_base_link"/>
    <child link="tcp"/>
    <origin xyz="0 0 0.10" rpy="0 0 0"/>
</joint>

</robot>